h1 { 
    color: #2c3e50; 
}

a {
  display: block;
  margin-top: 1rem;
}

.caution {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e74c3c;
  font-size: 2rem;
  margin-top: 1rem;
}