<div class="projects">
  <h1>Projects</h1>
  <p class="mb-3">
    <i class="fa-solid fa-triangle-exclamation"></i>
    These projects are currently in development. Hosted links will be available soon.
    <i class="fa-solid fa-triangle-exclamation"></i>
  </p>
  <div class="flex flex-column gap-2">
    <div class="flex flex-column gap-2">
      <h2 class="m-0">Kiosk Game – Spin to Win</h2>
      <p class="m-0">
        Kiosk-style Spin-to-Win system with an Angular frontend and a .NET 8 Minimal API backend.
      </p>

      <ul class="m-0 pl-3">
        <li>
          <a
            href="https://github.com/AALim1091/KioskGame.Ui"
            target="_blank"
            rel="noopener noreferrer"
          >
            Frontend - KioskGame.Ui
          </a>
        </li>
        <li>
          <a
            href="https://github.com/AALim1091/KioskGame.Service"
            target="_blank"
            rel="noopener noreferrer"
          >
            Backend - KioskGame.Service
          </a>
        </li>
        <li>
          <a
            href="https://github.com/AALim1091/KioskGame.Service/blob/master/KioskGame.Service/Docs/A_Lim_Kiosk_Game_Design_Notes.pdf"
            target="_blank"
            rel="noopener noreferrer"
          >
            Design Notes.pdf
          </a>
        </li>
      </ul>
    </div>

    <hr />

    <!-- Phone Directory -->
    <div class="flex flex-column gap-2">
      <h2 class="m-0">Phone Directory</h2>
      <p class="m-0">
        A CRUD phone directory application demonstrating REST API design, persistence, and
        frontend-backend integration.
      </p>

      <ul class="m-0 pl-3">
        <li>
          <a
            href="https://github.com/AALim1091/PhoneDirectory"
            target="_blank"
            rel="noopener noreferrer"
          >
             Backend - PhoneDirectory
          </a>
           <!-- - ToDo: Need to fix file structure and path Render host correctly -->
        </li>
      </ul>
    </div>
  </div>
</div>
