<div class="about-container">
  <section id="personal-info">
    <h2>Personal Information</h2>
    <p>Name: Aaron Lim</p>
    <p>Age: 34</p>
  </section>

  <section id="hobbies" class="w-6 -mt-3">
    <h2>A Little About My Interests</h2>
    <p>
      At this moment in life, when I am not coding, I really enjoy being outdoors and spending time with my girlfriend. I enjoy traveling when possible and my last international trip was visiting Japan! I also love working out and hiking.
    </p>
    <p>
      One of my favorite things to do on weekends are to go on a hike with a nice view, get amazing food after, and then explore the area I am in. Did I mention food? haha. Finding a new and amazing restaurant makes a weekend and really puts a smile on my face.
    </p>
    <p>
      When I am home, I love watching movies and playing video games. I tend to play PC games mostly and at least once a week myself and some friends hop on to play and chat. I cherish this as I consider it a great way to stay in contact with my friends, since life can be so busy.
    </p>
    <p>
      Okay, that is enough of my ramblings. If you want to know more about me, check out my 
      <a href="https://www.linkedin.com/in/aaron-l-166710218/" target="_blank">LinkedIn</a>.
    </p>
  </section>

  <div class="image-row">
    <img src="assets/images/profile/about-me-1.jpg" alt="Aaron Lim">
    <img src="assets/images/profile/about-me-2.jpg" alt="Aaron Lim">
  </div>
</div>